In [57]:
# importing the libraries and reading house_prices.csv
import pandas as pd
import numpy as np
file=pd.read_csv("datasets/house_prices.csv")
file.head(3)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN

In [58]:
file.shape

(187531, 21)

In [59]:
file.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [60]:
# droping columns that has many null values and the one which are not to be used
file.drop(columns=["Dimensions","Plot Area","Super Area","Society","Car Parking",'Price (in rupees)','Transaction','facing',"overlooking","Index"],inplace=True)
file.head()

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Unfurnished,1,2,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Semi-Furnished,2,NaN,Freehold
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Unfurnished,2,NaN,Freehold
3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Unfurnished,1,1,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Unfurnished,2,NaN,Co-operative Society

In [61]:
file.duplicated().sum()

119400

In [62]:
# droping the rows that has null values in it
file.dropna(inplace=True)
file.head()
file.isnull().sum()

Title                0
Description          0
Amount(in rupees)    0
location             0
Carpet Area          0
Status               0
Floor                0
Furnishing           0
Bathroom             0
Balcony              0
Ownership            0
dtype: int64

In [63]:
file.shape

(81460, 11)

In [64]:
# sorting by house prices
house_prices=file.sort_values(by="Amount(in rupees)", ascending=True)
house_prices.head(5)

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
143858,3 BHK Ready to Occupy Flat for sale in Gaur Ci...,3 BHK flat available for sale in Noida in the ...,1 Cr,noida,950 sqft,Ready to Move,15 out of 32,Unfurnished,2,2,Leasehold
17880,2 BHK Ready to Occupy Flat for sale Whitefield...,Up for immediate sale is a 2 BHK apartment in ...,1 Cr,bangalore,1130 sqft,Ready to Move,3 out of 15,Semi-Furnished,2,1,Freehold
2942,3 BHK Ready to Occupy Flat for sale in Shaligr...,"This lovely 3 BHK Flat in South Bopal, Ahmedab...",1 Cr,ahmedabad,969 sqft,Ready to Move,2 out of 13,Furnished,3,1,Freehold
154654,"3 BHK Ready to Occupy Flat for sale Sector 37,...",This magnificent 3 BHK Flat is available for s...,1 Cr,faridabad,1160 sqft,Ready to Move,2 out of 4,Semi-Furnished,3,2,Freehold
155479,3 BHK Ready to Occupy Flat for sale in BPTP Pa...,"This lovely 3 BHK Flat in Sector 75, Faridabad...",1 Cr,faridabad,1700 sqft,Ready to Move,1 out of 4,Semi-Furnished,3,2,Freehold

In [65]:
# houses that are in goa 
goa=house_prices.loc[house_prices['location']=='goa']
goa.head(3)

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
159468,2 BHK Ready to Occupy Flat for sale Siolim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,79 sqm,Ready to Move,1 out of 3,Unfurnished,2,4,Freehold
159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold

In [66]:
# filtering out the furnished houses
furnished=goa.loc[house_prices['Furnishing']=='Furnished']
furnished.head(3)

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold
159981,1 BHK Ready to Occupy Flat for sale Assagao,"Assagao, Goa has an attractive 1 BHK Flat for ...",1 Cr,goa,56 sqm,Ready to Move,Ground out of 3,Furnished,1,2,Freehold

In [67]:
# filter on ownership
ownership=furnished.loc[furnished['Ownership'].isin(['Freehold','Co-operative Society'])]
ownership.head(3)
# furnished['Ownership'].unique()

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold
159981,1 BHK Ready to Occupy Flat for sale Assagao,"Assagao, Goa has an attractive 1 BHK Flat for ...",1 Cr,goa,56 sqm,Ready to Move,Ground out of 3,Furnished,1,2,Freehold

In [68]:
# filter on status
status=ownership.loc[ownership['Status']=='Ready to Move']
status.head(3)

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold
159981,1 BHK Ready to Occupy Flat for sale Assagao,"Assagao, Goa has an attractive 1 BHK Flat for ...",1 Cr,goa,56 sqm,Ready to Move,Ground out of 3,Furnished,1,2,Freehold

In [69]:
status['Status'].unique()

array(['Ready to Move'], dtype=object)

In [70]:
# creating the final dataframe
final_dataframe=pd.DataFrame(status)
final_dataframe

,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold
159981,1 BHK Ready to Occupy Flat for sale Assagao,"Assagao, Goa has an attractive 1 BHK Flat for ...",1 Cr,goa,56 sqm,Ready to Move,Ground out of 3,Furnished,1,2,Freehold
159371,2 BHK Ready to Occupy Flat for sale Porvorim,2 BHK flat available for sale in Goa in the pr...,1.05 Cr,goa,115 sqm,Ready to Move,1 out of 5,Furnished,2,3,Freehold
159822,1 BHK Ready to Occupy Flat for sale Pilerne,Carefully laid out in the prime location of Pi...,1.10 Cr,goa,638 sqft,Ready to Move,3 out of 4,Furnished,1,1,Freehold
...,...,...,...,...,...,...,...,...,...,...,...
159711,1 BHK Ready to Occupy Flat for sale Calangute,Up for immediate sale is a 1 BHK apartment in ...,Call for Price,goa,46 sqm,Ready to Move,1 out of 3,Furnished,1,1,Freehold
159708,1 BHK Ready to Occupy Flat for sale in TATA Ri...,This ready to move-in 1 BHK flat is available ...,Call for Price,goa,549 sqft,Ready to Move,7 out of 9,Furnished,2,1,Freehold
160012,1 BHK Ready to Occupy Flat for sale Varca,One can find this stunning 1 BHK flat for sale...,Call for Price,goa,710 sqft,Ready to Move,1 out of 3,Furnished,1,2,Freehold
160172,2 BHK Ready to Occupy Flat for sale Arpora,This ready to move-in 2 BHK flat is available ...,Call for Price,goa,98 sqm,Ready to Move,2 out of 4,Furnished,2,2,Freehold
160256,3 BHK Ready to Occupy Flat for sale in Sattva ...,This magnificent 3 BHK Flat is available for s...,Call for Price,goa,141 sqft,Ready to Move,3 out of 5,Furnished,2,2,Freehold

In [71]:
final_dataframe=final_dataframe.reset_index()
# final_dataframe=final_dataframe.drop(["index","level_0"])
final_dataframe.head(2)
# print(final_dataframe.info())

,index,Title,Description,Amount(in rupees),location,Carpet Area,Status,Floor,Furnishing,Bathroom,Balcony,Ownership
0,159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
1,159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold

In [72]:
final_dataframe.duplicated().sum()

0

In [82]:
# final_dataframe['Carpet_Area(sqm)']=final_dataframe['Carpet_Area(sqrt)'].replace('sqm',"")
# final_dataframe.head()

In [83]:
final_dataframe.drop_duplicates(inplace=True)

In [84]:
final_dataframe=final_dataframe.rename(columns={'Carpet Area':'Carpet_Area(sqrt)'})
final_dataframe.head(2)

,index,Title,Description,Amount(in rupees),location,Carpet_Area(sqrt),Status,Floor,Furnishing,Bathroom,Balcony,Ownership
0,159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
1,159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold

In [85]:
final_dataframe['Carpet_Area(sqrt)'].dtypes

dtype('O')

In [86]:
# final_dataframe['Carpet_Area(sqrt)'].head(4)

In [88]:
final_dataframe.head(2)

,index,Title,Description,Amount(in rupees),location,Carpet_Area(sqrt),Status,Floor,Furnishing,Bathroom,Balcony,Ownership
0,159794,2 BHK Ready to Occupy Flat for sale Porvorim,This magnificent 2 BHK Flat is available for s...,1 Cr,goa,111 sqm,Ready to Move,1 out of 3,Furnished,2,4,Freehold
1,159948,2 BHK Ready to Occupy Flat for sale Calangute,"This lovely 2 BHK Flat in Calangute, Goa is up...",1 Cr,goa,93 sqm,Ready to Move,2 out of 2,Furnished,2,1,Freehold